<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seungminyi.geera.member.MemberRepository">
    <insert id="insert" parameterType="com.seungminyi.geera.member.Member">
        INSERT INTO MEMBER (id, password, name) VALUES (#{id}, #{password}, #{name})
    </insert>

    <select id="findMemberById" parameterType="String">
        SELECT ID, PASSWORD FROM MEMBER WHERE ID = #{id}
    </select>
</mapper>