<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seungminyi.geera.project.ProjectMemberRepository">
    <insert id="create" parameterType="com.seungminyi.geera.project.ProjectMember">
        INSERT INTO PROJECT_MEMBER (PROJECT_ID, MEMBER_ID, ROLE)
        VALUES (#{projectId}, #{memberId}, #{role})
    </insert>

    <select id="findRoleByMember" parameterType="com.seungminyi.geera.project.ProjectMember">
        SELECT ROLE FROM PROJECT_MEMBER
        WHERE PROJECT_ID = #{projectId}
            AND MEMBER_ID = #{memberId}
            AND ROLE = #{role}
    </select>

    <update id="delete" parameterType="com.seungminyi.geera.project.ProjectMember">
        DELETE PROJECT_MEMBER
        WHERE PROJECT_ID = #{projectId}
            AND MEMBER_ID = #{memberId}
    </update>

    <update id="update" parameterType="com.seungminyi.geera.project.ProjectMember">
        UPDATE PROJECT_MEMBER
        SET ROLE = #{role}
        WHERE PROJECT_ID = #{projectId}
            AND MEMBER_ID = #{memberId}
    </update>
</mapper>